version: '3.8'

services:
  # Go API Application
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: go-catetduit-app
    restart: unless-stopped
    ports:
      - "8082:8082"
    env_file:
      - .env
    # Menggunakan extra_hosts untuk akses ke PostgreSQL di host system
    extra_hosts:
      - "host.docker.internal:host-gateway"

