version: '3.8'

services:
  # Go API Application
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: catetduit-be
    restart: unless-stopped
    ports:
      - "8082:8082"
    env_file:
      - .env

networks:
  default:
    driver: bridge

